# App
LOG_LEVEL=info
ENV=development

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_NAME=go_monitor
POSTGRES_TEST_DB_NAME=go_monitor_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

POSTGRES_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB_NAME}
POSTGRES_TEST_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_TEST_DB_NAME}

# Discord
DISCORD_TOKEN=
